.menu {
  background-color: #ff0000;
  position: absolute;
  top: 78px;
  width: 100%;
  max-width: 375px;
  z-index: 99;

  padding: 10px;
  transition: transform 250ms linear;
  transform: translateY(-100%);

  &.active {
    transform: translateY(0%);
  }
}
