// Максимальна ширина екрана
$maxWidth: 1340px;

// Брекпоінти:
$xxs: 375px;
$xs: 576px;
$sm: 768px;
$md: 1024px;
$lg: 1400px;
$xl: 1920px;

// Шрифти:
$font-primary: "Montserrat-Regular", sans-serif;
$font-secondary: "Montserrat-Bold", sans-serif;
$font-tertiary: "Montserrat-BlackItalic", sans-serif;
$font-quaternary: "Montserrat-BoldItalic", sans-serif;

// Кольори==============
// box-shadow
$shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.25);
// background:
$bg-dark: rgb(0, 0, 0);
$bg-light: rgb(229, 229, 229);
$bg-gray: rgb(239, 239, 239);

// text:
$text-danger: rgb(255, 57, 57);
$text-dark: rgb(0, 0, 0);
$text-light: rgb(255, 255, 255);

// universal:
$basic-white: rgb(255, 255, 255);
